@(title: String)(content: Html)

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Igor Labories">
    <meta name="description" content="Test">

    <!-- Style -->
    @minified=@{ if (play.Play.isProd()) ".min" else "" }
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main"+minified+".css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap"+minified+".css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap/bootstrap-responsive"+minified+".css")">
</head>
<body>
    @content

    <!-- Scripts -->
    <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-alert"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-button"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-carousel"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-collapse"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-dropdown"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-modal"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-scrollspy"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-tab"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-tooltip"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-transition"+minified+".js")" bootstrap-typeaheade="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-typeahead"+minified+".js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap/bootstrap-popover"+minified+".js")" type="text/javascript"></script>
</body>
</html>
